/* Sass */
$rouge : red;
$vert : green;


h1 {
	margin-top: 4px;
	color: $rouge;
	font-weight: 500;
	font-size: 20px;
	font-family: "Lucida Grande", Arial, sans-serif;
	line-height: 32px;
}

h2 {
	margin: 0.83em 0 0;
	font-weight: normal;
	font-size: 18px;
	color: $vert;	
	font-family: "Lucida Grande", Arial, sans-serif;
}

h3 {
	width: auto;
	color: $vert;
	text-align: center;
	letter-spacing: -1px;
	font-weight: bold;
	font-size: 60px;
	font-family: 'Ubuntu Mono', sans-serif;
}

h4 {
	margin: 1.33em 0;
	text-align: center;
	font-weight: bold;
}

p {
	color: darken($rouge, 10%);
	margin-top: 0;
	font-weight: normal;
	font-size: 16px;
	font-family: "Lucida Grande", Arial, sans-serif;
}

a {
	color: #666;
	text-decoration: underline;
}