/* Sass
$colordeux: purple
$colorune: red

/* Body
#outline
  position: relative
  margin: 18px auto 0
  width: 800px
  height: 800px

#caption
  position: absolute
  top: 318px
  left: 48px
  visibility: visible
  width: 260px

#text
  position: absolute
  top: 318px
  left: 336px
  visibility: visible
  margin-top: 10px
  width: 400px

#title
  position: absolute
  top: 100px
  visibility: visible
  width: 800px

// a:before {
// 	content: "Lien (css) :  ";
// }

body
  background-image: url("../images/gradient.png")
  margin: 0
  padding: 0

.note
  border: solid 1px #cccccc
  margin: 5px
  padding: 10px
  border-radius: 5px
  background-color: #eee

.important
  @extend .note
  background-color: #f00

.success
  @extend .important
  background-color: #00f
